/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Release(dll)
/Debug
/log
SimpleSample.exe
/*user
/.checkstyle
/SimpleSample.aps
*.rep
back.properties
/gprofA_result.txt
/gprofq_result.txt
/gprofp_result.txt
/gprofdot_result.png
/gmon.out
/Release_XP/
/Debug_XP/
*.dll