/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/DebugCdt*
/Debug
/GprofCdt*
/Release
/Release(dll)
/*.user
/.vs/
/Release_XP/
/Debug_XP/
