/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Debug
/gmon.out
/log
/*settings
/VioletVreath.exe
/*user
/.checkstyle
/VioletVreath.aps
/VB_UI_LAST.rep
/VB_PLAY_LAST.rep
/gprofA_result.txt
/gprofq_result.txt
/gprofp_result.txt
/gprofdot_result.png
*.rep
*.qry
/back.properties
*.log

