/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Release(dll)
/Debug
/gmon.out
/log
/VioletVreath.exe
/*user
/.checkstyle
/VioletVreath.aps
/VB_UI_LAST.rep
/VB_PLAY_LAST.rep
/gprofA_result.txt
/gprofq_result.txt
/gprofp_result.txt
*.rep
*.tbl
/back.properties
*.log
*.tmp
*.bak
/Debug_XP/
/Release_XP/
*.dll
/gprofdot_result3.svg
