/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Release(dll)
/Debug
/.project
.pydevproject
*.stackdump
/_cppTest_
*.opensdf
*.sdf
*.ncb
*.suo
*.obj
*.user
*.exe
*.swp
*.htm
*.pch
*.res
*.manifest
*.dep
*.idb
*.pdb
*.db
*.rep
*.svn
/.svn
/Doc
/ipch
/_UpgradeReport_Files
/.settings/
/.vs/
/Release_XP/
/Debug_XP/
*.opendb
/IDEA.txt
