/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/DebugCdt*
/Release
/Release(dll)
/GprofCdt*
/Debug
/*.user
/Release_XP/
/Debug_XP/
