/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/DebugCdt*
/Debug
/Release
/Release(dll)
/GprofCdt*
/*.user
/Debug_XP/
/Release_XP/
