/Release*
/GprofCdt
/Debug*
/gmon.out
/MySTG2nd.vcproj
/log
/*settings
/MySTG2nd.exe
/MySTG2nd.vcproj.GECHIBI.gecchi.user
/MySTG2nd.vcproj.GECCHI-DV9200.gecchi.user
/MySTG2nd.vcproj.DV9200-XP.gecchi.user
/MySTG2nd.vcproj.THINKR61-001.Administrator.user
/MySTG2nd.vcproj.TAKEDA.u002262.user
/MySTG2nd.vcproj.NEW_NAVIO.tsuge.user
/MySTG2nd.vcproj.GECMAIN.gecchi.user
/MySTG2nd.vcproj.gecchi-PC.gecchi.user
/.checkstyle
