/Release*
/GprofCdt
/Debug*
/gmon.out
/MySTG2nd.vcproj
/log
/*settings
/MySTG2nd.exe
/MySTG2nd.vcproj.*.*.user
/.checkstyle
/MySTG2nd.aps
/VB_UI_LAST.rep
/VB_PLAY_LAST.rep
/gprofA_result.txt
/gprofq_result.txt
/gprofp_result.txt
/gprofdot_result.png
*.rep
