/Release*
/GprofCdt
/Debug*
/gmon.out
/log
/*settings
/MySTG2nd.exe
/*user
/.checkstyle
/MySTG2nd.aps
/VB_UI_LAST.rep
/VB_PLAY_LAST.rep
/gprofA_result.txt
/gprofq_result.txt
/gprofp_result.txt
/gprofdot_result.png
*.rep
/back.properties
