/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Debug
/log
/*settings
SimpleSample.exe
/*user
/.checkstyle
/SimpleSample.aps
*.rep
back.properties
/ReleaseCdt
/ReleaseCdt_x64
/gmon.out
/DebugCdt
/DebugCdt
