/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/ReleaseCdt_x64_DLL
/Debug
/log
/*settings
SimpleSample.exe
/*user
/.checkstyle
/SimpleSample.aps
*.rep
back.properties
/ReleaseCdt
/ReleaseCdt_x64
/gmon.out
/DebugCdt
*.dat
/Debug_XP/
/Release_XP/
*.dll