/.settings
!/.settings/org.eclipse.cdt.core.prefs
!/.settings/org.eclipse.core.resources.prefs
/ReleaseCdt*
/GprofCdt*
/DebugCdt*
/Release
/Release(dll)
/Debug
/log
SimpleSample.exe
/*user
/.checkstyle
/SimpleSample.aps
*.rep
back.properties
/ReleaseCdt
/ReleaseCdt_x64
/gmon.out
/DebugCdt
*.dat
/Debug_XP/
/Release_XP/
*.dll